* {
    box-sizing: border-box;
    font-family: 'Gotham Rounded', sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
}

#calculator {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    width: 400px;
}

#calculator button {
    cursor: pointer;
    font-size: 2rem;
    border: rgba(14, 33, 85, );
    outline: none;
    background-color: rgba(255, 255, 255 .75);
    height: 100px;
    width: 100px;
}

#calculator button:hover {
    background-color: rgba(255, 255, 255, .90);
}

#display {
    padding-right: 10px;
    background-color: rgba(14, 33, 85, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    color: white;
}

.buffer {
    display: flex;
    align-items: flex-end;
    color: white;
}

#delete {
    display: flex;
}

#delete button {
    flex-grow: 1;
}

#digits {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: start;
    align-content: center;
    width: 300px;
}

#operators {
    display: flex;
    flex-direction: column;
}

#decimal {
    display: flex;
    flex-direction: column;
    width: 100px;
    position: relative;
    left: 200px;
    bottom: 100px;
}

#calculate {
    display: flex;
    flex-direction: column;
    width: 100px;
    position: relative;
    bottom: 200px;
}

#keys {
    display: flex;
}

#buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

button[value="0"] {
    color: red;
    position: relative;
    left: 100px;
}

button[value="C"] {
    color: red;
}